<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="es.albandroid.feria11" android:versionCode="8" android:versionName="1.2.5">


	<application android:icon="@drawable/icon" android:label="@string/app_name"
		android:theme="@style/Theme.Feria">
		<uses-library android:name="com.google.android.maps" />

		<receiver android:name=".OnAlarmReceivernAlarmReceiver"
			android:process=":remote" />
		<activity android:name="MenuPrincipalActivity" android:label="@string/app_name"
			android:screenOrientation="portrait">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name="DetalleEventoActivity" android:label="@string/app_name">
		</activity>
		<activity android:name="MapaFeriaActivity" android:label="@string/app_name"
			android:theme="@android:style/Theme.NoTitleBar" />
		<activity android:name="HorariosActivity" android:label="@string/app_name"
			android:screenOrientation="portrait">
			<meta-data android:name="android.app.default_searchable"
				android:value=".search.Search" />
		</activity>
		<activity android:name="CreditosActivity"></activity>
		<activity android:name="MiFeriaActivity"></activity>
		<activity android:name="PreferenciasActivity"></activity>
		<activity android:name=".search.Search">
			<intent-filter>
				<action android:name="android.intent.action.SEARCH" />
			</intent-filter>
			<meta-data android:name="android.app.searchable"
				android:resource="@xml/searchable" />
			<meta-data android:name="android.app.default_searchable"
				android:value=".search.Search" />
		</activity>
		<activity android:name="CercaActivity"></activity>
		<activity android:name="DetalleCercaActivity"></activity>

	</application>

	<uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
	<uses-permission android:name="android.permission.VIBRATE" />
	<uses-permission android:name="android.permission.READ_CALENDAR" />
	<uses-permission android:name="android.permission.WRITE_CALENDAR" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_GPS" />

	<uses-sdk android:minSdkVersion="6" />
</manifest>